body {background-color: blueviolet;}
h1 {margin-left: 30%;
color: darkred;}
#ima1 {margin-left: 30%;
border-style: double;
border-left: 30%;}
h2{margin-left: 30%;
color: rgb(30, 130, 0);
border-style: double;
border-right: 50%;}
h3{margin-left: 30%;
color: orangered;
border-style: double;
border-right: 20%;}
h4{margin-left: 30%;
color: grey;
border-style: double;}
h5{margin-left: 30%;
color: black;
}
#ima2 {margin-left: 30%;
}
